@import "../node_modules/font-awesome/css/font-awesome.css";

$primary-color: #970000;
$second-color: #ff7c23;
$border-color: #dadada;
$background-primary-color: #f8f8f8;
$footer-color: #1b1c1d;

// =========== geral =========== //

html, body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

header {
    background-color: $background-primary-color;

    nav {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
    }
}

section {
    min-height: 50% !important;
}

footer {
    min-height: 70px !important;
    padding-top: 10px !important;
    background-color: $footer-color;
    color: white;    
}

a, a:hover { text-decoration: none; }

// =========== app =========== //

.app-box{
    padding: 25px;
    border-top: 2px solid $primary-color;
}

// ===== header ===== //

.app-logo {
    width: 100%;
}

.app-title {
    color: $primary-color;
}

.app-title:hover {
    color: $second-color;
}

// ===== 404 ===== //

.app-icon-404{
    font-size: 200px;
}

// ===== Contato ===== //

.app-logo-contato {
    width: 20%;
}