<div ng-controller="PageCtrl" class="container text-center mt-5">
    <h3 class="font-weight-bold">
        <i class="fa fa-envelope"></i>
        Entre em contato para maiores informações
    </h3>

    <div class="row mt-5">
        <div class="col-5 card mx-auto ">
            <img src="../img/logo.png" class="app-logo-contato mb-4 mt-3 mx-auto ">
            <p>
                <i class="fa fa-envelope"></i>
                email_fornecedores_app@email.com
            </p>
            <p>
                <i class="fa fa-phone"></i>
                (00) 99999-9999
            </p>
        </div>
    </div>
</div>