<div ng-controller="ListCtrl" class="container mt-4">
    <div class="container-fluid card app-box">
        <h3>
            <i class="fa fa-group"></i>
            Lista de fornecedores
        </h3>

        <hr ng-if="!fornecedores.length > 0" />

        <table ng-if="fornecedores.length > 0" class="table table-hover mt-4">
            <thead>
                <th>ID</th>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>E-mail</th>
                <th>Comment</th>
                <th><i class="fa fa-cogs"></i> Ações</th>
            </thead>
            <tbody>
                <tr ng-repeat="fornecedor in fornecedores">
                    <td>{{ fornecedor.id }}</td>
                    <td>{{ fornecedor.name | diminuir_string }}</td>
                    <td>{{ fornecedor.cnpj | diminuir_string }}</td>
                    <td>{{ fornecedor.email | diminuir_string }}</td>
                    <td>{{ fornecedor.comment | diminuir_string }}</td>
                    <td>
                        <a href="#!/fornecedor/view/{{ fornecedor.id }}">
                            <button type="button" class="btn btn-success btn-sm">
                                <i class="fa fa-eye"></i>
                                Visualizar
                            </button>
                        </a>
                        <a href="#!/fornecedor/edit/{{ fornecedor.id }}">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-pencil"></i>
                                Editar
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        <p ng-if="!fornecedores.length > 0" class="alert alert-warning">
            Não existem fornecedores cadastrados ainda.

            <a href="#!/fornecedor/cad">Clique aqui</a>
            para cadastrar um novo fornecedor.
        </p>

    </div>
</div>