<header>
    <div class="container">
        <div class="row">
            <div class="col-md-2 pt-4">
                <a href="#!/">
                    <img class="app-logo mb-3" src="/img/logo.png" alt="Logo" />
                </a>
            </div>
            <div class="col-md-8 mt-md-5">
                <h4 class="header mt-md-5">
                    <a href="#!/" class="app-title">Fornecedores App</a>
                </h4>
                <p>Sistema para gerenciamento de fornecedores</p>
            </div>
            <div class="col-md-2 mt-3">
                <a href="#!/contato">
                    <i class="fa fa-envelope"></i>
                    Contato
                </a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#!/">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/fornecedores">
                        <i class="fa fa-group"></i> Lista de fornecedores
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!/fornecedor/cad">
                        <i class="fa fa-plus"></i> Novo fornecedor
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>